# Twitter DataSet

### Libraries

In [1]:
from turkishnlp import detector
obj = detector.TurkishNLP()
obj.download()
obj.create_word_set()
import turkishnlp
import json
from time import time
import GetOldTweets3 as got
from textblob import TextBlob
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
import pandas as pd
import matplotlib.pyplot as plt
import nltk
import re
import warnings
from collections import Counter
from sklearn.feature_extraction.text import TfidfVectorizer
import plotly.express as px #visualization
import pandas as pd
from nltk import word_tokenize
import preprocessor as p
from nltk.corpus import stopwords
import numpy as np
import re
import string
import preprocessor as p
from snowballstemmer import TurkishStemmer
from textblob import TextBlob

Download is successful

# Scrape data from twitter without requiring any API keys.

## Vitamin DatasSet

In [175]:
# 
def get_tweets(query,state):
    tweetCriteria = got.manager.TweetCriteria().setQuerySearch(query)\
                                            .setSince("2017-01-01")\
                                            .setUntil("2020-04-01")\
                                            .setNear(state)\
                                            .setMaxTweets(100)
    tweet = got.manager.TweetManager.getTweets(tweetCriteria)
    
    text_tweets = [[tw.text,
                tw.date,
                tw.hashtags,
                state] for tw in tweet]
    
    return text_tweets

In [176]:
# il bazında twitler çekiliyor.
b=[]
iller = ["Adana","Adıyaman","Afyonkarahisar","Ağrı","Aksaray","Amasya","Ankara","Antalya","Ardahan","Artvin",
"Aydın","Balıkesir","Bartın","Batman","Bayburt","Bilecik","Bingöl","Bitlis","Bolu","Burdur",
"Bursa","Çanakkale","Çankırı","Çorum","Denizli","Diyarbakır","Düzce","Edirne","Elazığ","Erzincan",
"Erzurum","Eskişehir","Gaziantep","Giresun","Gümüşhane","Hakkari","Hatay","Iğdır","Isparta","İstanbul",
"İzmir","Kahramanmaraş","Karabük","Karaman","Kars","Kastamonu","Kayseri","Kırıkkale","Kırklareli","Kırşehir",
"Kilis","Kocaeli","Konya","Kütahya","Malatya","Manisa","Mardin","Mersin","Muğla","Muş",
"Nevşehir","Niğde","Ordu","Osmaniye","Rize","Sakarya","Samsun","Siirt","Sinop","Sivas",
"Şanlıurfa","Şırnak","Tekirdağ","Tokat","Trabzon","Tunceli","Uşak","Van","Yalova","Yozgat","Zonguldak"]
b=[]
#for i,j in zip(since_date_YYYY_dash_MM_dash_DD,until_date_YYYY_dash_MM_dash_DD):
for il in iller:
    #for q in ["Vitamin","VİTAMİN"]:
    text_tweets=get_tweets("vitamin",il+",Turkey")
    b+=text_tweets

In [177]:
df=pd.DataFrame(b, columns = ['Text', 'Date','Hashtags', 'Location'])

In [178]:
df=df.drop_duplicates()

In [180]:
df.to_csv("v.csv")

# Medigard DataSet

In [231]:
iller = ["Adana","Adıyaman","Afyonkarahisar","Ağrı","Aksaray","Amasya","Ankara","Antalya","Ardahan","Artvin",
"Aydın","Balıkesir","Bartın","Batman","Bayburt","Bilecik","Bingöl","Bitlis","Bolu","Burdur",
"Bursa","Çanakkale","Çankırı","Çorum","Denizli","Diyarbakır","Düzce","Edirne","Elazığ","Erzincan",
"Erzurum","Eskişehir","Gaziantep","Giresun","Gümüşhane","Hakkari","Hatay","Iğdır","Isparta","İstanbul",
"İzmir","Kahramanmaraş","Karabük","Karaman","Kars","Kastamonu","Kayseri","Kırıkkale","Kırklareli","Kırşehir",
"Kilis","Kocaeli","Konya","Kütahya","Malatya","Manisa","Mardin","Mersin","Muğla","Muş",
"Nevşehir","Niğde","Ordu","Osmaniye","Rize","Sakarya","Samsun","Siirt","Sinop","Sivas",
"Şanlıurfa","Şırnak","Tekirdağ","Tokat","Trabzon","Tunceli","Uşak","Van","Yalova","Yozgat","Zonguldak"]

In [232]:
# Big O notation is crying
b=[]
#for i,j in zip(since_date_YYYY_dash_MM_dash_DD,until_date_YYYY_dash_MM_dash_DD):
for il in iller:
    text_tweets=get_tweets("medigard",il+",Turkey",100000)
    b+=text_tweets

In [233]:
d=pd.DataFrame(b, columns = ['Text', 'Date','Hashtags', 'Geolocation'])

In [148]:
d.to_csv("medigard_twitter.csv")

## Data Cleaning for Medigard DataSet

In [24]:
df=pd.read_csv("Sentiment-Data/medigard_twitter.csv")

In [26]:
#df=pd.read_csv("medigard_twitter.csv")
df=df.drop(columns=['Unnamed: 0'])
df.head()

,Text,Date,Geolocation
0,#sağlıklıyaşami̇puçları egzersiz yaparken her ...,2017-01-31 12:08:22+00:00,"ADIYAMAN,Turkey"
1,alarm çalmadan uyanmaya var mısın? #medigard,2017-01-30 07:02:46+00:00,"ADIYAMAN,Turkey"
2,vücuttaki #koenzimq10 eksikliğini önlemek için...,2017-01-27 12:50:59+00:00,"ADIYAMAN,Turkey"
3,enerjinin evrimine tanıklık etmeye ne dersin? ...,2017-01-26 10:00:27+00:00,"ADIYAMAN,Turkey"
4,vücuttaki kalsiyumun %99’u kemiklerde ve dişle...,2017-01-25 12:25:28+00:00,"ADIYAMAN,Turkey"

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14715 entries, 0 to 14714
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Text         14715 non-null  object
 1   Date         14715 non-null  object
 2   Geolocation  14715 non-null  object
dtypes: object(3)
memory usage: 345.0+ KB

In [29]:
df=df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14715 entries, 0 to 14714
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Text         14715 non-null  object
 1   Date         14715 non-null  object
 2   Geolocation  14715 non-null  object
dtypes: object(3)
memory usage: 459.8+ KB

In [30]:
df.Geolocation.unique()
#df.groupby(["Date","Geolocation"]).Text.count().sort_values(ascending=False).head(10)

array(['ADIYAMAN,Turkey', 'AFYONKARAHİSAR,Turkey', 'AĞRI,Turkey',
       'AMASYA,Turkey', 'ARDAHAN,Turkey', 'ARTVİN,Turkey',
       'BİLECİK,Turkey', 'BİNGÖL,Turkey', 'ÇANAKKALE,Turkey',
       'ÇANKIRI,Turkey', 'ÇORUM,Turkey', 'DİYARBAKIR,Turkey',
       'DÜZCE,Turkey', 'ELAZIĞ,Turkey', 'ESKİŞEHİR,Turkey',
       'GÜMÜŞHANE,Turkey', 'HAKKARİ,Turkey', 'IĞDIR,Turkey',
       'İZMİR,Turkey', 'KARABÜK,Turkey', 'KAYSERİ,Turkey',
       'KIRKLARELİ,Turkey', 'KIRŞEHİR,Turkey', 'KİLİS,Turkey',
       'KOCAELİ,Turkey', 'KÜTAHYA,Turkey', 'NEVŞEHİR,Turkey',
       'NİĞDE,Turkey', 'OSMANİYE,Turkey', 'ŞIRNAK,Turkey',
       'TEKİRDAĞ,Turkey'], dtype=object)

In [31]:
df=df[df["Date"]<"2020-04-01"]

In [32]:
df=df.drop_duplicates()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7664 entries, 0 to 14714
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Text         7664 non-null   object
 1   Date         7664 non-null   object
 2   Geolocation  7664 non-null   object
dtypes: object(3)
memory usage: 239.5+ KB

In [36]:
df.groupby(["Date","Geolocation"]).Text.count().sort_values(ascending=False).head(10)

Date                       Geolocation
2017-03-31 13:43:46+00:00  TEKİRDAĞ,Turkey    2
2017-03-13 07:45:45+00:00  NEVŞEHİR,Turkey    2
2017-03-14 12:18:33+00:00  KAYSERİ,Turkey     2
                           KARABÜK,Turkey     2
                           IĞDIR,Turkey       2
2017-05-25 09:30:53+00:00  İZMİR,Turkey       2
                           ŞIRNAK,Turkey      2
2017-03-13 07:45:45+00:00  ŞIRNAK,Turkey      2
                           İZMİR,Turkey       2
                           TEKİRDAĞ,Turkey    2
Name: Text, dtype: int64

In [37]:
df.groupby(["Geolocation"]).Text.count().sort_values(ascending=False).head(10)

Geolocation
ŞIRNAK,Turkey        587
TEKİRDAĞ,Turkey      585
OSMANİYE,Turkey      547
NEVŞEHİR,Turkey      411
NİĞDE,Turkey         409
KÜTAHYA,Turkey       406
KİLİS,Turkey         388
KIRŞEHİR,Turkey      388
KOCAELİ,Turkey       387
KIRKLARELİ,Turkey    338
Name: Text, dtype: int64

In [38]:
df.groupby(["Date"]).Text.count().sort_values(ascending=False).head(10)

Date
2017-01-03 01:18:34+00:00    45
2017-05-18 12:54:20+00:00    45
2017-05-16 12:32:06+00:00    45
2017-05-16 12:29:39+00:00    45
2017-05-15 11:54:41+00:00    45
2017-05-12 14:55:39+00:00    45
2017-05-11 07:35:07+00:00    45
2017-05-09 12:43:32+00:00    45
2017-05-05 13:18:45+00:00    45
2017-05-04 12:51:35+00:00    45
Name: Text, dtype: int64

In [12]:
#Data PreProcessing
#blob = TextBlob("Comment vas-tu?")
 
#print(blob.detect_language())
 
#print(blob.translate(to='es'))



WPT = nltk.WordPunctTokenizer()
stop_word_list = nltk.corpus.stopwords.words('turkish')


docs = df['Text']
docs = docs.map(lambda x: re.sub('[,\.!?();:$%&#"]', '', x)) #punc are removed
docs = docs.map(lambda x: x.lower()) # küçük harf
docs = docs.map(lambda x: x.strip())



#docs=docs.map(lambda x: TextBlob(x).translate(to="tr"))

#stopwords are removed
def token(values):
    filtered_words = [word for word in values.split() if word not in stop_word_list]
    not_stopword_doc = " ".join(filtered_words)
    return not_stopword_doc

docs = docs.map(lambda x: token(x))
df['Text'] = docs

In [40]:
df.head()

,Text,Date,Geolocation
0,sağlıklıyaşami̇puçları egzersiz yaparken öğünd...,2017-01-31 12:08:22+00:00,"ADIYAMAN,Turkey"
1,alarm çalmadan uyanmaya var mısın medigard,2017-01-30 07:02:46+00:00,"ADIYAMAN,Turkey"
2,vücuttaki koenzimq10 eksikliğini önlemek günlü...,2017-01-27 12:50:59+00:00,"ADIYAMAN,Turkey"
3,enerjinin evrimine tanıklık etmeye dersin medi...,2017-01-26 10:00:27+00:00,"ADIYAMAN,Turkey"
4,vücuttaki kalsiyumun 99’u kemiklerde dişlerde ...,2017-01-25 12:25:28+00:00,"ADIYAMAN,Turkey"

### Kelime Düzeltme
lwords = obj.list_words("vri kümsi idrae edre ancaka daha güezl oalbilir")

corrected_words = obj.auto_correct(lwords)

corrected_string = " ".join(corrected_words)

>>  'veri kümesi idare eder ancak daha güzel olabilir'.

In [ ]:
#def anlamlıOl(kelime):
#    lwords = obj.list_words(kelime)
#    corrected_words = obj.auto_correct(lwords)
#    corrected_string = " ".join(corrected_words)
#    return corrected_string
#df.Text=df.Text.map(anlamlıOl)

**Not**: Bu baya işe yarar dursa da büyük veri setlerinde zaman açısından sıkıntı yaratacaktır.

In [13]:
#Rule Based Sent. Analysis
# Kaynak 3
neg=pd.read_csv('negative_words_tr.txt')
pos=pd.read_csv('positive_words_tr.txt')

In [14]:
# Köklere ayırmak için
# Çok başarılı bir kütüphane değil aslında.Son çare.
def stemming_tokenizer(text): 
    stemmer = TurkishStemmer()
    return [stemmer.stemWord(w) for w in word_tokenize(text)]
df['text_token'] = df['Text'].apply(lambda text: stemming_tokenizer(text))
df.head()

,Text,Date,Geolocation,text_token
0,sağlıklıyaşami̇puçları egzersiz yaparken öğünd...,2017-01-31 12:08:22+00:00,"ADIYAMAN,Turkey","[sağlıklıyaşami̇puç, egzersiz, yapar, ök, prot..."
1,alarm çalmadan uyanmaya var mısın medigard,2017-01-30 07:02:46+00:00,"ADIYAMAN,Turkey","[alarm, çalma, uyanma, var, mı, medigardı]"
2,vücuttaki koenzimq10 eksikliğini önlemek günlü...,2017-01-27 12:50:59+00:00,"ADIYAMAN,Turkey","[vücut, koenzimq10, eksiklik, önlemek, günlük,..."
3,enerjinin evrimine tanıklık etmeye dersin medi...,2017-01-26 10:00:27+00:00,"ADIYAMAN,Turkey","[enerji, evrim, tanıklık, etme, der, medigardı..."
4,vücuttaki kalsiyumun 99’u kemiklerde dişlerde ...,2017-01-25 12:25:28+00:00,"ADIYAMAN,Turkey","[vücut, kalsiy, 99, ’, u, kemik, diş, ger, kal..."

In [15]:
def pos_finder(x):
    df_words = set(" ".join(x).split(" "))
    extract_words =  set(neg.eski.to_list()).intersection(df_words)
    return ', '.join(extract_words)
def neg_finder(x):
    df_words = set(" ".join(x).split(" "))
    extract_words =  set(pos.olan.to_list()).intersection(df_words)
    return ', '.join(extract_words)
df['neg'] = df.text_token.apply(pos_finder)
df['pos'] = df.text_token.apply(neg_finder)
df.head()

,Text,Date,Geolocation,text_token,neg,pos
0,sağlıklıyaşami̇puçları egzersiz yaparken öğünd...,2017-01-31 12:08:22+00:00,"ADIYAMAN,Turkey","[sağlıklıyaşami̇puç, egzersiz, yapar, ök, prot...",,
1,alarm çalmadan uyanmaya var mısın medigard,2017-01-30 07:02:46+00:00,"ADIYAMAN,Turkey","[alarm, çalma, uyanma, var, mı, medigardı]","alarm, çalma",var
2,vücuttaki koenzimq10 eksikliğini önlemek günlü...,2017-01-27 12:50:59+00:00,"ADIYAMAN,Turkey","[vücut, koenzimq10, eksiklik, önlemek, günlük,...","önlemek, eksiklik",
3,enerjinin evrimine tanıklık etmeye dersin medi...,2017-01-26 10:00:27+00:00,"ADIYAMAN,Turkey","[enerji, evrim, tanıklık, etme, der, medigardı...",,enerji
4,vücuttaki kalsiyumun 99’u kemiklerde dişlerde ...,2017-01-25 12:25:28+00:00,"ADIYAMAN,Turkey","[vücut, kalsiy, 99, ’, u, kemik, diş, ger, kal...",,

### Polarity Calculate

In [16]:
def fixNeg(neg):
    if not (len(neg)==0):
        return len(neg.split(','))
    else:
        return 0
def fixPos(pos):
    if not (len(pos)==0):
        return len(pos.split(','))
    else:
        return 0
df["len_neg"]=df.neg.map(fixNeg)
df["len_pos"]=df.pos.map(fixPos)

In [17]:
df.head()

,Text,Date,Geolocation,text_token,neg,pos,len_neg,len_pos
0,sağlıklıyaşami̇puçları egzersiz yaparken öğünd...,2017-01-31 12:08:22+00:00,"ADIYAMAN,Turkey","[sağlıklıyaşami̇puç, egzersiz, yapar, ök, prot...",,,0,0
1,alarm çalmadan uyanmaya var mısın medigard,2017-01-30 07:02:46+00:00,"ADIYAMAN,Turkey","[alarm, çalma, uyanma, var, mı, medigardı]","alarm, çalma",var,2,1
2,vücuttaki koenzimq10 eksikliğini önlemek günlü...,2017-01-27 12:50:59+00:00,"ADIYAMAN,Turkey","[vücut, koenzimq10, eksiklik, önlemek, günlük,...","önlemek, eksiklik",,2,0
3,enerjinin evrimine tanıklık etmeye dersin medi...,2017-01-26 10:00:27+00:00,"ADIYAMAN,Turkey","[enerji, evrim, tanıklık, etme, der, medigardı...",,enerji,0,1
4,vücuttaki kalsiyumun 99’u kemiklerde dişlerde ...,2017-01-25 12:25:28+00:00,"ADIYAMAN,Turkey","[vücut, kalsiy, 99, ’, u, kemik, diş, ger, kal...",,,0,0

#### My method here is as follows: If there is no positive or negative word, that twit is either irrelevant or it is a language other than Turkish.

In [19]:
df=df[~((df.len_neg==0) & (df.len_pos==0))]

In [18]:
df['Text_count'] = df['Text'].str.split().apply(len).value_counts()
df['polarity'] = df['len_pos'] - df['len_neg']
df['sent_rate']=(df['len_pos'] + df['len_neg'])/ df['Text_count']

In [20]:
df.head()

,Text,Date,Geolocation,text_token,neg,pos,len_neg,len_pos,Text_count,polarity,sent_rate
1,alarm çalmadan uyanmaya var mısın medigard,2017-01-30 07:02:46+00:00,"ADIYAMAN,Turkey","[alarm, çalma, uyanma, var, mı, medigardı]","alarm, çalma",var,2,1,193.0,-1,0.015544
2,vücuttaki koenzimq10 eksikliğini önlemek günlü...,2017-01-27 12:50:59+00:00,"ADIYAMAN,Turkey","[vücut, koenzimq10, eksiklik, önlemek, günlük,...","önlemek, eksiklik",,2,0,212.0,-2,0.009434
3,enerjinin evrimine tanıklık etmeye dersin medi...,2017-01-26 10:00:27+00:00,"ADIYAMAN,Turkey","[enerji, evrim, tanıklık, etme, der, medigardı...",,enerji,0,1,312.0,1,0.003205
5,düzenli olarak yapılan egzersizler günlük temp...,2017-01-24 12:39:34+00:00,"ADIYAMAN,Turkey","[düzenli, olarak, yapıla, egzersiz, günlük, te...",,"düzenli, enerjik, sağ",0,3,457.0,3,0.006565
6,başarıya ulaşmak zor değil,2017-01-23 12:37:44+00:00,"ADIYAMAN,Turkey","[başarı, ulaşmak, zor, değil]",zor,başarı,1,1,867.0,0,0.002307

In [155]:
sent_vit=pd.DataFrame(new_df.groupby(["Location",'Date'])['polarity'].mean().reset_index())

In [156]:
sent_vit.sort_values(by=["polarity"],ascending=False).head(10)

             Location                      Date  polarity
2676  Adıyaman,Turkey 2020-03-31 20:04:10+00:00       4.0
2342  Adıyaman,Turkey 2020-03-31 18:37:15+00:00       4.0
149   Adıyaman,Turkey 2020-03-31 09:00:55+00:00       4.0
1066  Adıyaman,Turkey 2020-03-31 13:43:03+00:00       4.0
2427  Adıyaman,Turkey 2020-03-31 18:57:32+00:00       4.0
180   Adıyaman,Turkey 2020-03-31 09:10:04+00:00       4.0
538   Adıyaman,Turkey 2020-03-31 11:14:06+00:00       3.0
2390  Adıyaman,Turkey 2020-03-31 18:49:46+00:00       3.0
2173  Adıyaman,Turkey 2020-03-31 17:52:25+00:00       3.0
2583  Adıyaman,Turkey 2020-03-31 19:37:45+00:00       3.0

## Analysis Of Tweet Datas
Most of the Medigard tweets consist of repetitive advertisements and there are only 4 comments. As an important twit, the 2017-18 league, which medigard sponsored the Eczacıbaşı volleyball team, was found to be remarkable.

In [277]:
sent_vit.to_csv("mediagard_sent.csv")

## I created a function for each incoming twit set.

In [18]:
WPT = nltk.WordPunctTokenizer()
stop_word_list = nltk.corpus.stopwords.words('turkish')
neg=pd.read_csv('negative_words_tr.txt')
pos=pd.read_csv('positive_words_tr.txt')
def token(values):
    filtered_words = [word for word in values.split() if word not in stop_word_list]
    not_stopword_doc = " ".join(filtered_words)
    return not_stopword_doc
def stemming_tokenizer(text): 
    stemmer = TurkishStemmer()
    return [stemmer.stemWord(w) for w in word_tokenize(text)]
def pos_finder(x):
    df_words = set(" ".join(x).split(" "))
    extract_words =  set(neg.eski.to_list()).intersection(df_words)
    return ', '.join(extract_words)
def neg_finder(x):
    df_words = set(" ".join(x).split(" "))
    extract_words =  set(pos.olan.to_list()).intersection(df_words)
    return ', '.join(extract_words)
def fixNeg(neg):
    if not (len(neg)==0):
        return len(neg.split(','))
    else:
        return 0
def fixPos(pos):
    if not (len(pos)==0):
        return len(pos.split(','))
    else:
        return 0

In [19]:
# Yukarıdaki işlemleri fonksiyon haline getirdim.

In [22]:
def calculatePolarity(df):
    df=df.drop(columns=['Unnamed: 0'])
    df=df.drop(columns=["Hashtags"])
    df=df.dropna()
    #df.info()
    df=df[df["Date"]<"2020-04-01"] # Garanti
    #df.Geolocation=df.Geolocation.map(fixGeo)
    df=df.drop_duplicates()
    WPT = nltk.WordPunctTokenizer()
    stop_word_list = nltk.corpus.stopwords.words('turkish')


    docs = df['Text']
    docs = docs.map(lambda x: re.sub('[,\.!?();:$%&#"]', '', x)) #punc are removed
    docs = docs.map(lambda x: x.lower()) # küçük harf
    docs = docs.map(lambda x: x.strip())

    #stopwords are removed
    docs = docs.map(lambda x: token(x))
    df['Text'] = docs
    df['text_token'] = df['Text'].apply(lambda text: stemming_tokenizer(text))
    df['neg'] = df.text_token.apply(pos_finder)
    df['pos'] = df.text_token.apply(neg_finder)
    df["len_neg"]=df.neg.map(fixNeg)
    df["len_pos"]=df.pos.map(fixPos)
    df['Text_count'] = df['Text'].str.split().apply(len).value_counts()
    df['polarity'] = df['len_pos'] - df['len_neg']
    df['sent_rate']=(df['len_pos'] + df['len_neg'])/ df['Text_count']
    zero=df.loc[((df.len_neg==0) & (df.len_pos==0)),:].index.to_list()
    df=df.drop(zero,axis=0)
    sent_vit=pd.DataFrame(df.groupby(["Geolocation",'Date'])['polarity'].mean().reset_index())

    
    return sent_vit

In [23]:
deneme=pd.read_csv("Sentiment-Data/medigard_twitter.csv")
calculatePolarity(deneme)

          Geolocation                       Date  polarity
0     ADIYAMAN,Turkey  2017-01-05 06:39:54+00:00         2
1     ADIYAMAN,Turkey  2017-01-17 12:03:15+00:00         1
2     ADIYAMAN,Turkey  2017-01-19 12:13:53+00:00         3
3     ADIYAMAN,Turkey  2017-01-20 12:55:23+00:00         1
4     ADIYAMAN,Turkey  2017-01-23 12:37:44+00:00         0
...               ...                        ...       ...
3170    ŞIRNAK,Turkey  2020-02-26 07:31:04+00:00         0
3171    ŞIRNAK,Turkey  2020-02-28 07:00:40+00:00         2
3172    ŞIRNAK,Turkey  2020-02-29 01:24:21+00:00        -1
3173    ŞIRNAK,Turkey  2020-03-16 15:09:13+00:00         2
3174    ŞIRNAK,Turkey  2020-03-27 10:33:09+00:00         0

[3175 rows x 3 columns]

In [192]:
vit_tw=pd.read_csv("v.csv")

In [193]:
vit_tw=calculatePolarity(vit_tw)
vit_tw.head()

       Location                       Date  polarity
0  Adana,Turkey  2017-07-10 13:08:27+00:00      -1.0
1  Adana,Turkey  2017-07-11 08:06:49+00:00      -1.0
2  Adana,Turkey  2017-08-23 20:38:29+00:00       1.0
3  Adana,Turkey  2017-11-23 10:21:39+00:00      -1.0
4  Adana,Turkey  2018-08-04 06:48:24+00:00      -2.0

In [196]:
vit_tw.sort_values(by="polarity",ascending=False).head()

             Location                       Date  polarity
798    Kocaeli,Turkey  2019-05-14 08:23:47+00:00       8.0
788    Kocaeli,Turkey  2019-03-22 09:22:33+00:00       6.0
817    Kocaeli,Turkey  2020-03-25 14:31:17+00:00       5.0
1287  İstanbul,Turkey  2020-03-27 10:05:54+00:00       5.0
794    Kocaeli,Turkey  2019-04-16 06:17:12+00:00       5.0

In [197]:
vit_tw.to_csv("vit_sent.csv")

In [36]:
vit_tw.sort_values(by="polarity",ascending=False).head()

          Geolocation                       Date  polarity
1135    ŞIRNAK,Turkey  2019-08-31 23:49:16+00:00       3.0
1008    ŞIRNAK,Turkey  2019-03-31 23:48:55+00:00       3.0
554   İSTANBUL,Turkey  2017-04-08 10:40:31+00:00       3.0
553   İSTANBUL,Turkey  2017-03-31 07:22:46+00:00       3.0
542   İSTANBUL,Turkey  2017-03-04 14:29:45+00:00       3.0

# Kaynaklar
### Recources
GetOldTweet : https://medium.com/@AIY/getoldtweets3-830ebb8b2dab

Turkish-stemmer kütüphanesi türkçe kökler için : https://github.com/otuncelli/turkish-stemmer-python

Pozitif-Negatif Kelimeler [Kaynak 3] : https://www.kaggle.com/rtatman/sentiment-lexicons-for-81-languages

Türkçe NLP :https://pypi.org/project/turkishnlp/