In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup as bs
import re
headers = {'User-Agent':'Mozilla/5.0'}

#df.to_csv("emlak.csv") # Kaydedelim.

## ÜFE WEBSCRAPİNG

In [5]:
def getInfo(url):
    response=requests.get(url,headers)
    soup=bs(response.text)
    bilgi=[item.text for item in soup.find_all("tr")]
    t=[]
    for i in range(len(bilgi)):
        t.append(bilgi[i].split("\n"))
    df=pd.DataFrame(t)
    return df

In [115]:
url="https://www.tcmb.gov.tr/wps/wcm/connect/TR/TCMB+TR/Main+Menu/Istatistikler/Enflasyon+Verileri/Uretici+Fiyatlari"
df=getInfo(url)

In [116]:
df.head()

  0        1               2              3    4       5     6
0             Yıllık Değişim  Aylık Değişim         None  None
1                        ÜFE         Yİ-ÜFE  ÜFE  Yİ-ÜFE
2    07-2020                           8.33         1.02
3    06-2020                           6.17         0.69
4    05-2020                           5.53         1.54

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       213 non-null    object
 1   1       213 non-null    object
 2   2       213 non-null    object
 3   3       213 non-null    object
 4   4       213 non-null    object
 5   5       212 non-null    object
 6   6       212 non-null    object
dtypes: object(7)
memory usage: 11.8+ KB

In [118]:
df=df.drop([0,1],axis=0)
df=df.rename(columns={1:"Period",3:"Yıllık Değişim ÜFE",4:"Aylık Değişim ÜFE"})

In [119]:
df.head()

  0   Period  2 Yıllık Değişim ÜFE Aylık Değişim ÜFE     5 6
2    07-2020                  8.33                    1.02
3    06-2020                  6.17                    0.69
4    05-2020                  5.53                    1.54
5    04-2020                  6.71                    1.28
6    03-2020                  8.50                    0.87

In [129]:
df=df[3:43]

In [130]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40 entries, 5 to 44
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   0                   40 non-null     object
 1   Period              40 non-null     object
 2   2                   40 non-null     object
 3   Yıllık Değişim ÜFE  40 non-null     object
 4   Aylık Değişim ÜFE   40 non-null     object
 5   5                   40 non-null     object
 6   6                   40 non-null     object
dtypes: object(7)
memory usage: 2.5+ KB

In [131]:
df=df.rename(columns={5: 'ÜFE (Aylık % Değişim)'})

In [136]:
df = df.drop(columns=[0,2,6,"Aylık Değişim ÜFE"])

In [143]:
df.Period.str.split("-")[0][1]+df.Period.str.split("-")[0][0]

'202004'

In [145]:
df.Period = df.Period.apply(lambda x: x.split("-")[1]+x.split("-")[0])

In [147]:
df.to_csv("üfe.csv")

## TÜFE WEB SCRAPİNG

In [6]:
url = "https://www.tcmb.gov.tr/wps/wcm/connect/TR/TCMB+TR/Main+Menu/Istatistikler/Enflasyon+Verileri/Tuketici+Fiyatlari"
df=getInfo(url)
df.head()

  0        1                        2                       3 4
0             TÜFE (Yıllık % Değişim)  TÜFE (Aylık % Değişim)
1    07-2020                    11.76                    0.58
2    06-2020                    12.62                    1.13
3    05-2020                    11.39                    1.36
4    04-2020                    10.94                    0.85

In [7]:
df.columns

RangeIndex(start=0, stop=5, step=1)

In [10]:
df=df.drop(columns=[0,4])
df=df.drop(0,axis=0)

In [11]:
df.head()

         1      2     3
1  07-2020  11.76  0.58
2  06-2020  12.62  1.13
3  05-2020  11.39  1.36
4  04-2020  10.94  0.85
5  03-2020  11.86  0.57

In [23]:
df = df.rename(columns={1:"Period",2:"TÜFE (Yıllık % Değişim)",3:"TÜFE (Aylık % Değişim)"})

In [27]:
df.head()

   Period TÜFE (Yıllık % Değişim) TÜFE (Aylık % Değişim)
4  202004                   10.94                   0.85
5  202003                   11.86                   0.57
6  202002                   12.37                   0.35
7  202001                   12.15                   1.35
8  201912                   11.84                   0.74

In [26]:
df.Period = df.Period.apply(lambda x: x.split("-")[1]+x.split("-")[0])

IndexError: list index out of range

In [16]:
df=df[3:43]

In [28]:
df.to_csv("tüfe.csv")